
<h1>{{ user.username }} {{ user.email }}</h1>


<a href="{% url 'homeward' %}">Home</a><br>
<a href="{% url 'new_presentation' %}">New Presentation (basic)</a><br>
<a href="{% url 'new_presentation_a' %}">New Presentation_a (basic form api)</a><br>
<a href="{% url 'new_presentation_diff_formats' %}">New Presentation_a (demoing diff presentation formats)</a><br>



<a href="{% url 'all_presentations' %}">All Presentations (basic)</a><br>

<a href="{% url 'all_presentations_list_view' %}">All Presentations (Listview)</a><br>

<a href="{% url 'presentation' 1 %}">Single Presentation (basic)</a><br>
<a href="{% url 'presentation_detail_view' 1 %}">Single Presentation (DetailView)</a><br>

<a href="{% url 'foo' %}">Foo</a><br>

<a href="{% url 'signup' %}">Sign up</a><br>
<a href="{% url 'logout' %}">Log out (this redirect to the home page, the username should disappear)</a><br>
<a href="{% url 'login' %}">Login </a><br>

<a href="{% url 'protected_view' %}">Protected View (must be logged in)</a><br>
