{% extends "base.html" %}




{% block content %}
{% if heading %}
<h3>{{heading}}</h3>
{% endif %}
<form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
{{ formset.management_form }}
{% for form in formset %}
<div class="row form-row spacer">
    <div class="col-2">
        <label>{{form.label.label}}</label>
    </div>
    <div class="col-4">
        <div class="input-group">
          {{form.id.as_hidden}}
          {{form.label}}
          {{form.finished}}
          {{form.sequence.as_hidden}}
          {{form.todo_group.as_hidden}}<br>
            <div class="input-group-append">
                <button class="btn btn-success add-form-row">+</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="row spacer">
    <div class="col-4 offset-2">
        <button type="submit" class="btn btn-block btn-primary">Create</button>
    </div>
</div>
</form>
{% endblock %}


<!-- <form method="post" action="">
  {% csrf_token %}

            <br>xxxxxxxxx<br>
             {{ formset.management_form }}
            {% for form in formset %}

                    {{form.id}}
                    {{form.label}}
                    {{form.finished}}
                    {{form.sequence}}
                    {{form.todo_group}}<br>
            {% endfor %}


  <button type="submit" class="btn btn-block btn-primary">Create</button>
</form> -->
